html,
body {
    background: url();
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
    margin-left: 400px;
}

.appname {
    text-align: center;
    margin-top: 130px;
}

.name {
    font-family: 'Pacifico', sans-serif;
    font-size: 80px;
}

.subtitle {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.position,
.imgblock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login, .register {
    border-radius: 15px;
    width: 400px;
    margin-bottom: 20px;

}

.links>a {
    color: #000;
    padding: 5px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

.img {
    height: 50px;
    border-radius: 5px;
    border: 0px;
}

.download {
    margin-top: 45px;
    /* border: 0px; */
}

.download:hover,
.img:hover {
    background-color: transperent;
    /* box-shadow: 5px 2px 2px 2px #888888; */
}

.app {
    border-radius: 9px;
    height: 52px;
}

.imgblock>a {
    margin-left: 10px;
}

#background {
    position: absolute;
    opacity: .9;
    width: 600px;
    top: 100px;
    left: 170px;
    z-index: -1;
}


/* toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #0c2b44;
}

input:focus+.slider {
    box-shadow: 0 0 1px #0c2b44;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* allusers.blade.php */
.card{
    box-shadow: 1px 1px 10px 1px black;
}